# ---- PyG wheels for torch 2.2.x (CPU) ----
--find-links https://data.pyg.org/whl/torch-2.2.0+cpu.html

torch==2.2.0
torchvision==0.17.0
torchaudio==2.2.0

pyg-lib
torch-cluster
torch-scatter
torch-sparse
torch-spline-conv

torch-geometric==2.6.1
networkx==3.4.2

numpy==1.24.3
pandas==2.2.3
scipy==1.15.3
scikit-learn==1.6.1

tqdm==4.67.1
pyyaml==6.0.2
requests==2.32.4
protobuf==6.31.1

ray==2.47.1
tensorboardx==2.6.4
pyarrow==16.1.0

matplotlib==3.10.3

jupyterlab==4.4.4
ipykernel==6.29.5
ipywidgets==8.1.7
widgetsnbextension==4.0.14
jupyterlab-widgets==3.0.15
